body { 
  background: url(opinternet.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.titolo {
    color: #053C5E;
    text-align: center;
    font-weight: 900;
}

.auto {
    font-size: large;
}